.notesDialog {
    width: 400px;

    h3 {
        background-color: #333333;
        color: white;
        height: 40px;
        font-size: 17px;
        padding: 12px 8px;
    }

    .dialogNotes {
        border-radius: 5px;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;
        margin-bottom: 8px;
    }

    textarea {
      resize: none;
      max-height: 100px;
    }

    .newNoteButton {
        position: absolute;
        top: 0;
        color: #333;
        left: 100%;
    }

    .dialogFooter {
        width: 83%;
    }
}